---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <div class="post-date"><i class="fa fa-calendar-o"></i> {{ post.date | date_to_string }}</div>
    <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}<a></h1>
    <a class="btn" href="{{ site.github_pages_url }}{{ post.path | url_encode}}"><i class="fa fa-github"></i> edit this post on github</a>
    <div id="articleContent">
    {{ post.content }}
    </div>
    <script>
    var disqus_identifier = 'http://duffleit.github.io{{ post.url }}';
    window.onload = function(){
      var anchors = document.getElementById('articleContent').getElementsByTagName('a');
      for (var i=0; i<anchors.length; i++){
        anchors[i].setAttribute('target', '_blank');
      }
    }
    </script>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>

<div>
<div id="disqus_thread"></div>

<script type="text/javascript">
    var disqus_shortname = 'duffleit';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</div>



