---
layout: default
---

<article class="post">
    <div class="post-date"><i class="fa fa-calendar-o"></i> {{ page.date | date_to_string }}</div>
	<h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
	<a class="btn" href="{{ site.github_pages_url }}{{ page.path | url_encode}}"><i class="fa fa-github"></i> edit this post on github</a>
	<div id="articleContent">
	{{ content }}
	</div>
	<script>
	window.onload = function(){
	  var anchors = document.getElementById('articleContent').getElementsByTagName('a');
	  for (var i=0; i<anchors.length; i++){
	    anchors[i].setAttribute('target', '_blank');
	  }
	}
	</script>
</article>
<div class="pagination">
	{% if page.next %} 
    <a class="pagination-item older" href="{{ page.next.url }}">Newer</a>
	{% else %}
	<span class="pagination-item newer">Newer</span>
	{% endif %}
	{% if page.previous %} 
	<a class="pagination-item older" href="{{ page.previous.url }}">Older</a>
	{% else %}
	<span class="pagination-item older">Older</span>
	{% endif %}

</div>

<div>
<div id="disqus_thread"></div>

<script type="text/javascript">
    var disqus_shortname = 'duffleit';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</div>